/* .jumbotron {
  width: 30%;
  text-align: center;
}

.header {
  width: 100%;
  text-align: center;
}

.wrapper {
  background-image: url(./images/limboHangman.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.gameBoard {
  width: 100%;
  text-align: center;
  margin-top: 3%;
  color: white;
}

.row {
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
} */
